html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body
{
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* .connection-form
{
  width: 400px;
  margin: auto;
} */

.connection-form
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.connection-form-element p
{
    width: 400px;
}