{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>account</title>
    <link rel="stylesheet" href="{% static 'account/css/style.css' %}">
</head>
<body>
    <form method="post" class="connection-form">
        {% csrf_token %}
        <div class="connection-form-element">
            {{ form.as_p }}
        </div>
        <div class="connection-form-element">
            <button type="submit" class="connection-form-element">Se connecter</button>
        </div>
    </form>
</body>
</html>